.listUploads {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.listUploads h2 {
    width: 100%;
    padding: 0 1rem;
}
.listUploads h2 span {
    float: right;
    font-size: 80%;
    color: #888;
}
@media (max-width: 812px)  {
    .listUploads {
        justify-content: space-evenly;
    }
}
