.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}
.modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1rem;
    border: 3px solid #888;
    width: 40%;
    position: relative;
}
.close {
    color: red;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    right: -10px;
    top: -11px;
    border: 2px solid red;
    background-color: #fff;
    border-radius: 300px;
    line-height: 0;
    display: inline-block;
    padding: 11px 3px;
}
.close:before {
    content: "×";
}
